html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    font-family: 'Cairo', sans-serif;
}
#app{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500vh;
}
.navCertificates2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 150px;
    height: 6%;
    width: 20%;
    background-color: #ffffff;	
    margin-left:65%;
    float:left;
    position: absolute;
    margin-top: 2%;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3),10px 10px 15px rgba(0, 0, 0, 0.2);


}



.navCertificates3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 150px;
    height: 5%;
    width: 7.5%;
    background-color: #ffffff ;	
    margin-left:86%;
    float:left;
    position: absolute;
    margin-top: 2.3%;
    box-shadow: -10px 15px 25px rgba(0, 0, 0, 0.3),10px 10px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px #ccc;


}


  .navCertificates3:active {
    background-color: #90b6e9;
    color: #ffffff;
	transition: 0.1s; 
    box-shadow: 0 5px 10px #ccc;
    border-radius: 180px;
  }
/* footer section*/
.footer_section {
    background-color: #11396C;
    color: #ffffff;
    padding: 75px 0 40px 0;
    display: inline;
    width: 100%;
    height: 8%;
    overflow: hidden;
    margin-top: 20hv;
    
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .footer_social .footer-move {
        float: left;
        width: 100%;
  }
  .footer_social .footer-move .footer-move-left{
    text-align: left; 
    margin-left: 0px;
    margin-top: 0%;
    
  }
  .footer_social .footer-move .footer-move-center{
    text-align: center;
    margin-left: 10vh;
  }

  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #11396C;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    font-size: 210%;
    margin-top: 14%;
    margin-left: 4%;
  }
  
  .footer_section .footer_social a:hover {
    color: #90b6e9;
  }
  
 
img.failory-logo-image {
        margin-top: 0.1%;
        margin-left: 43%;
        width: 15%;
        height:51%;
        float:left;
        margin-top: 0.01%;
}  

.h-failory{
    margin-left: 45%;
    margin-bottom: 0%;
    float:left;
    margin-top: 0.1%;

    
}
.h-failory2{
    display: inline;
    margin-left: 39%;
    margin-top: 0.5%;
    float:left;
}
.h-failory3{
    color: #ffffff;
    display: inline;
    margin-left:9%;
    margin-top: 0.5%;
    float:left;
    opacity: 1;  
    display: flex;
    position: absolute;
}
.h-failory3  li :hover{
    color: #ffff;
    opacity: 0.7;  

}

.h-failory4{
    color: #ffffff;
    display: inline;
    margin-left:20%;
    margin-top: 0.5%;
    float:left;
    display: flex;
    position: absolute;
   
}
.h-failory4  li :hover{
    color: #ffff;
    opacity: 0.7;  

}
.footer_social a,
.h-failory3 ul,
.h-failory4 ul,
.h-failory4 a,
.h-failory3 a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none; 
    list-style: none;
}
