html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    font-family: 'Cairo', sans-serif;
}
#app{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500vh;
}
.bunner{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.videoBtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;
    bottom: 7%;
    height: 70px;
    width:70px;
    border: 1px solid  black;
    background-color: transparent;
    color: #11396C;
    border-radius: 70px;
    z-index: 100;
}
.videoBtn:hover{
    background:linear-gradient(rgb(255,255,255,0.2),rgb(255,255,255,0.1));
    cursor: pointer;
}
header{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 100;
    height: 20%;
    width: 100%;
    margin-top: 0.5%;
}
.logo{
    background-image:url(/Assets/logo.png);
    cursor: pointer;
    background-size: cover;
    height: 100%;
    width: 10%;
    margin-left: 3%;
    filter: drop-shadow(2px 2px 30px black);
}
.onPlayLogo{
    transition: all 200ms ease-in-out;
    opacity:0.5 ;
}
.navigation{
    position: relative;
    height: fit-content;
    width: 40%;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
}
.navigation ul li , a{
    color: #ffff;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    filter: drop-shadow(2px 2px 30px black);
}
.onPlayNav ul a{
    transition: all 200ms ease-in-out;
    color: #ffffff75;
    filter: drop-shadow(2px 2px 30px black);
}
.navigation a:hover{
    transition: all 200ms ease;
    color: #11396C;
}
.contactInfo{
    display: flex;
    position: absolute;
    width: 7%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    right: 3%; 
    top: 0;
    margin-top: 2%;
    color: #ffff;
    filter: drop-shadow(2px 2px 30px black);
}
.onPlayContact{
    transition: all 200ms ease-in-out;
    color: #ffffff75;
    filter: drop-shadow(2px 2px 30px black);
}
.contactInfo i:hover{
    transition: all 200ms ease;
    cursor: pointer;
    color: #eee;
}
.sectionNav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 0.1vw;
    bottom: 5%;
    right: 5%;
    background-color: #000;
    z-index: 100;
    filter: drop-shadow(2px 2px 30px black);
}
.sectionNav a{
    height: 17px;
    width: 17px;
    border-radius: 20px;
    background-color:rgba(238, 238, 238, 0.89);
}
.section_1 a:nth-child(1){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;
}
.section_2 a:nth-child(2){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;
}
.section_3 a:nth-child(3){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;
}
.sectionNav a:hover{
    transition: all 200ms ease;
    background-color: #90b6e9;
}
.More{
    position: relative;
    display: flex;
    width: 100%;
    height: 2vh;
    justify-content: center;
}
.SchoolValues{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100vw;
}
.headings{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 5%;
}
.headings span{
    font-size: 2rem;
    color: #11386c69;
}
.headings span:hover{
    transition: all 300ms ease;
    cursor: pointer;
    color: #11396C80;

}
.headingOne span:nth-child(1){
    color: rgb(17, 56, 108);
    font-weight: 900;
}
.headingTwo span:nth-child(2){
    color: rgb(17, 56, 108);
    font-weight: 900;
}
.headingThree span:nth-child(3){
    color: rgb(17, 56, 108);
    font-weight: 900;
}
.seprate{
    height: 0.2vh;
    width: 60vw;
    background-color: #11386c43;
    margin-top: 2%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: #11396C;
    width: 50vw;
    height: 50%;
}
@keyframes fadeIn {
    
    0%{
        
        transition: all 500ms ease-in-out;
        transform: scale(0.98);  
        opacity: 0.2;
    }
    100%{
        
        transition: all 500ms ease-in-out;
        transform: scale(1);  

    }
}

.v-enter-active {
    animation: fadeIn 0.6s ease-in;
}
.v-leave-active,
.v-leave-to {
    display: none;
}
.sectionSeprator{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    color: #11386c9d;
    width: 50%;
    margin: 20vh 0 10vh ;
}
.sectionSeprator div{
    height: 0.1vh;
    width: 46%;
    background-color: #11386c9c;
    z-index: 1000;
}

.meetFuture{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #11396C;
    font-size: 1.6rem;
    height: 170vh;
}
.meetFuture span{
    text-align: center;
    font-size: 1.2rem;
}
.video{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: fit-content;
    overflow: hidden;
    margin-top: 8vh;
}
.video video{
    object-fit: cover;
    width: 100vw;
}
.video button{
    position: absolute;
    height: 15vh;
    width: 15vh;
    align-self: center;
    border-radius: 60px;
    border: 0.5px solid #fff;
    background-color:transparent ;
    z-index: 100;
}
.onplayVideo button{
    opacity: 0.1;
}
.video button:hover{
    transition: all 700ms ease;
    background-color: #eeeeee38;
    opacity: 0.8;
    cursor: pointer;
}
.video button i{
    color: #fff;
}
