html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    font-family: 'Cairo', sans-serif;
}
#app{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500vh;
}
.bunner{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
   

}
.videoBtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;
    bottom: 7%;
    height: 70px;
    width:70px;
    border: 1px solid  black;
    background-color: transparent;
    color: #11396C;
    border-radius: 70px;
    z-index: 100;
}
.videoBtn:hover{
    background:linear-gradient(rgb(255,255,255,0.2),rgb(255,255,255,0.1));
    cursor: pointer;
}
header{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 100;
    height: 20%;
    width: 100%;
    margin-top: 0.5%;
}
.logo{
    background-image:url(/Assets/logo.png);
    cursor: pointer;
    background-size: cover;
    height: 100%;
    width: 10%;
    margin-left: 3%;
    filter: drop-shadow(2px 2px 30px black);
}
.onPlayLogo{
    transition: all 200ms ease-in-out;
    opacity:0.5 ;
}
.navigation{
    position: relative;
    height: fit-content;
    width: 40%;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
}
.navigation ul li ,.navigation a{
    color: #ffff;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    filter: drop-shadow(2px 2px 30px black);
}
.onPlayNav ul a{
    transition: all 200ms ease-in-out;
    color: #ffffff75;
    filter: drop-shadow(2px 2px 30px black);
}
.navigation a:hover{
    transition: all 200ms ease;
    color: #11396C;
}
.contactInfo{
    display: flex;
    position: absolute;
    width: 7%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    right: 3%; 
    top: 0;
    margin-top: 2%;
    color: #ffff;
    filter: drop-shadow(2px 2px 30px black);
}
.contactInfo span{
    position: absolute;
    display: none;
}
.contactInfo i{
    width: fit-content;
    height: 20px;
}
.contactInfo i:nth-child(1):hover{
    transition: all 700ms ease;
    transform: translateX(-600%);
}
.contactInfo i:nth-child(1):hover > span{
    transition: all 200ms ease;
    transform: translateX(30%);
    display: block;
}
.onPlayContact{
    transition: all 200ms ease-in-out;
    color: #ffffff75;
    filter: drop-shadow(2px 2px 30px black);
}
.contactInfo i:hover{
    transition: all 200ms ease;
    cursor: pointer;
    color: #eee;
}
.sectionNav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 0.1vw;
    bottom: 5%;
    right: 5%;
    background-color: #000;
    z-index: 100;
    filter: drop-shadow(2px 2px 30px black);
}
.sectionNav a{
    height: 17px;
    width: 17px;
    border-radius: 20px;
    background-color:rgba(238, 238, 238, 0.89);
}
.section_1 a:nth-child(1){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;
}
.section_2 a:nth-child(2){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;
}
.section_3 a:nth-child(3){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;
}
.section_4 a:nth-child(4){
    transition: all 400ms ease;
    padding: 3px 0 3px;
    background-color: #11396C;

}


.sectionNav a:hover{
    transition: all 200ms ease;
    background-color: #90b6e9;
}
.More{
    position: relative;
    display: flex;
    width: 100%;
    height: 2vh;
    justify-content: center;
}
.registration{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #c7c5c5d2;
    z-index: 10000;
}
.register{
    display: flex;
    align-items: center;
    height: 85%;
    width: 75%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.registerActive{
   animation: overlay 0.2s ease; 
}
@keyframes overlay {
    0%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.registrationActive{
    display: flex;
    animation: overlay 0.2s ease;
}
.panel,
.sign{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 50%;
}
.sign input, .sign span , .sign h2, .sign > a{
    margin: 5% 8% 3% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign h2{
    margin-top: 10%;
    text-align: center;
}
.sign input{
    height: 8%;
    width: 70%;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 2%;
}
.sign > a{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 25%;
    background-color: #11386c9a;
    border-radius: 10px;
    filter: none;
    text-decoration: none;
    color: #fff;
    font-size: larger;
}
.sign > a:hover{
    transition: all 300ms ease;
    transform: translatex(2%);
    padding-right: 2%;
}
.panel div{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( rgba(56, 116, 255, 0.233), rgba(56, 116, 255, 0.233));
}
.panel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.SchoolValues{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100vw;
}
.headings{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 5%;
}
.headings span{
    font-size: 2rem;
    color: #11386c69;
}

.headings span:hover{
    transition: all 300ms ease;
    cursor: pointer;
    color: #11396C80;

}
.headingOne span:nth-child(1){
    color: rgb(17, 56, 108);
    font-weight: 900;
}
.headingTwo span:nth-child(2){
    color: rgb(17, 56, 108);
    font-weight: 900;
}
.headingThree span:nth-child(3){
    color: rgb(17, 56, 108);
    font-weight: 900;
}
.seprate{
    height: 0.2vh;
    width: 60vw;
    background-color: #11386c43;
    margin-top: 2%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: #11396C;
    width: 50vw;
    height: 50%;
}
@keyframes fadeIn {
    
    0%{
        
        transition: all 500ms ease-in-out;
        transform: scale(0.98);  
        opacity: 0.2;
    }
    100%{
        
        transition: all 500ms ease-in-out;
        transform: scale(1);  

    }
}

.v-enter-active {
    animation: fadeIn 0.6s ease-in;
}
.v-leave-active,
.v-leave-to {
    display: none;
}
.sectionSeprator{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    color: #11386c9d;
    width: 50%;
    margin: 5vh 0 5vh ;
}

.sectionSeprator div{
    height: 0.2vh;
    width: 46%;
    background-color: #11386c9c;
    z-index: 1000;
}
.sectionSeprator2{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    color: #11386c9d;
    width: 50%;
    margin: 5vh 0 5vh ;
}
.sectionSeprator2 div{
    height: 0.2vh;
    width: 46%;
    background-color: #11386c9c;
    
}
.meetFuture{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #11396C;
    font-size: 1.6rem;
    height: 143vh;
}

.meetFuture span{
    text-align: center;
    font-size: 1.2rem;
}
.meetFuture2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #11396C;
    font-size: 1.6rem;
    height: 15vh;

}
.meetFuture2 span{
    text-align: center;
    font-size: 1.3rem;
    
}

.video{
    display: flex;
    justify-content: center;
    width: fit-content;
    overflow: hidden;
    margin-top: 8vh;
    padding: 10px 0 10px 0;
   


    

}
.video video{
    object-fit: cover;
    width: 100vw;
}
.video button{
    position: absolute;
    height: 15vh;
    width: 15vh;
    align-self: center;
    border-radius: 60px;
    border: 0.5px solid #fff;
    background-color:transparent ;
    z-index: 100;
}
.onplayVideo button{
    opacity: 0.1;
}
.video button:hover{
    transition: all 700ms ease;
    background-color: #eeeeee38;
    opacity: 0.8;
    cursor: pointer;
}
.video button i{
    color: #fff;
}

.Certificates {
   
    text-align: center;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 10px 0 10px 0;
    


}
.navCertificates{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 100px;
    height: 60%;
    width: 30%;
    background-color: #11396C;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3),3px 3px 10px rgba(0, 0, 0, 0.2);
	transition: 1.5s; 
		
}
.navCertificates img , .navCertificates h1 , .navCertificates p{
    margin: 0;
    width: 80%;
    height: fit-content;
    transform: translateY(-20px);
}
.navCertificates img{
    margin-top: 10%;
    background-color: white;
    border-radius: 20px;
}
.navCertificates img:hover{
    transition: all 0.8s ease;
    transform:translatey(20px);
}

.navCertificates2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 150px;
    height: 6%;
    width: 20%;
    background-color: #ffffff;	
    margin-left:65%;
    float:left;
    position: absolute;
    margin-top: 2%;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3),10px 10px 15px rgba(0, 0, 0, 0.2);


}



.navCertificates3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 150px;
    height: 5%;
    width: 7.5%;
    background-color: #ffffff ;	
    margin-left:86%;
    float:left;
    position: absolute;
    margin-top: 2.3%;
    box-shadow: -10px 15px 25px rgba(0, 0, 0, 0.3),10px 10px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px #ccc;


}


  .navCertificates3:active {
    background-color: #90b6e9;
    color: #ffffff;
	transition: 0.1s; 
    box-shadow: 0 5px 10px #ccc;
    border-radius: 180px;
  }


/* footer section*/
.footer_section {
    background-color: #11396C;
    color: #ffffff;
    padding: 75px 0 40px 0;
    display: inline;
    width: 100%;
    height: 7%;
    overflow: hidden;
    margin-top: 20vh;
    
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .footer_social .footer-move {
        float: left;
        width: 100%;
  }
  .footer_social .footer-move .footer-move-left{
    text-align: left; 
    margin-left: 0px;
    margin-top: 0%;
    
  }
  .footer_social .footer-move .footer-move-center{
    text-align: center;
    margin-left: 10vh;
  }

  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #11396C;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    font-size: 210%;
    margin-top: 14%;
    margin-left: 4%;
  }
  
  .footer_section .footer_social a:hover {
    color: #90b6e9;
  }
  
 
img.failory-logo-image {
        margin-top: 0.1%;
        margin-left: 43%;
        width: 15%;
        height:51%;
        float:left;
        margin-top: 0.01%;
}  

.h-failory{
    margin-left: 45%;
    margin-bottom: 0%;
    float:left;
    margin-top: 0.1%;

    
}
.h-failory2{
    display: inline;
    margin-left: 39%;
    margin-top: 0.5%;
    float:left;
}
.h-failory3{
    color: #ffffff;
    display: inline;
    margin-left:9%;
    margin-top: 0.5%;
    float:left;
    opacity: 1;  
    display: flex;
    position: absolute;
}
.h-failory3  li :hover{
    color: #ffff;
    opacity: 0.7;  

}

.h-failory4{
    color: #ffffff;
    display: inline;
    margin-left:20%;
    margin-top: 0.5%;
    float:left;
    display: flex;
    position: absolute;
   
}
.h-failory4  li :hover{
    color: #ffff;
    opacity: 0.7;  

}
.footer_social a,
.h-failory3 ul,
.h-failory4 ul,
.h-failory4 a,
.h-failory3 a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none; 
    list-style: none;
}


