html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    font-family: 'Cairo', sans-serif;
}
root{
    --animation:none;
}
#app{
    height: 400vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 20vh;
    width: 100vw;
    z-index: 1000;
    filter: drop-shadow(2px 2px 30px black);
}
header div{
    display: flex;
    justify-content: space-evenly;
    margin-right: 2%;
    width: 20%;
    color: #eeee;
    font-size: 0.9rem;
}
header div i:hover{
    transition: all 200ms ease;
    color: #eeeeee79;
    cursor: pointer;
}
header img{
    cursor: pointer;
    scale:0.6;
}
@keyframes fadeIn {
    
    0%{
        
        transform: scale(0.98);  
    }
    100%{
        
        transform: scale(1);  

    }
}

.v-enter-active {
    animation: fadeIn 0.9s ease-in;
}
.v-leave-active,
.v-leave-to {
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-image: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)),url(/Assets/enrollmentNavBg.jpg);
    background-size: cover;
    background-position:center;
    color: white;
    font-size: 2rem;
}
@keyframes underLine {
    0%{
        transition: all 200ms ease;
        width: 0;
    }
    100%{
        width: 100%;
    }
}
nav h1:hover ,nav a:hover,
nav span:hover{
    transition: all 200ms ease;
    cursor: pointer;
    color: #eeee;
    --animation:underLine;
}
nav span{
    position: relative;
}
nav a{
    text-decoration: none;
    color: white;
}
nav h1{
    filter: drop-shadow(2px 2px 30px black);
    position: relative;
    margin-left: 1%;
    margin-bottom: 3.5%;
    text-decoration: none;
}
nav span div,
nav h1 div{
    position: absolute;
    height: 2px;
    background-color: #eeee;
    animation: var(--animation) 0.5s ease forwards;
}
.registration{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #c7c5c5d2;
    z-index: 10000;
}
.register{
    display: flex;
    align-items: center;
    height: 85%;
    width: 75%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.registerActive{
   animation: overlay 0.2s ease; 
}
@keyframes overlay {
    0%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.registrationActive{
    display: flex;
    animation: overlay 0.2s ease;
}
.panel,
.sign{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 50%;
}
.sign input, .sign span , .sign h2, .sign > a{
    margin: 5% 8% 3% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign h2{
    margin-top: 10%;
    text-align: center;
}
.sign input{
    height: 8%;
    width: 70%;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 2%;
}
.sign > a{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 25%;
    background-color: #11386c9a;
    border-radius: 10px;
    filter: none;
    text-decoration: none;
    color: #fff;
    font-size: larger;
}
.sign > a:hover{
    transition: all 300ms ease;
    transform: translatex(2%);
    padding-right: 2%;
}
.panel div{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( rgba(56, 116, 255, 0.233), rgba(56, 116, 255, 0.233));
}
.panel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pageParts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 100vw;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.pageParts a{
    position: relative;
    text-decoration: none;
    color: #747474;
    font-size: 1.2rem;
    cursor: pointer;
}
.pageParts a > div{
    position: absolute;
    height: 1px;
    background-color: #747474;
}
.pageParts a:hover > div{
    animation: underLine 0.5s ease forwards;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #747474;
}
main h2 , main h3 , main p{
    width: 70%;
    margin-top: 5%;
}
main h2:first-child{
    margin-top: 10%;
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    margin-top: 5%;
}
.gallary div{
    flex: 1 0 300px;
    margin: 3px;
    position: relative;
}
.gallary div i{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transition: all 50ms ease;
}
.gallary img{
    width: 100%;
    min-height: 280px;
    height: fit-content;
}
.gallary img:hover{
    transition: all 500ms ease;
    filter: blur(1px);
    cursor: pointer;
}
.housingStaff{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    position: relative;
    width: 100%;
    margin: 10% 0;
}
.housingStaff h1{
    position: absolute;
    text-decoration: underline;
    text-underline-offset: 10px;
    transform: translateY(-250%);
}
.staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 1%;
    border-radius: 10px;
}
.staff:hover{
    transition: all 800ms ease;
    cursor: pointer;
    background:linear-gradient(rgba(226, 225, 225, 0.3), rgba(231, 229, 229, 0.3)) ;
}
.housingStaff img{
    width: 100%;
    object-fit: cover;
}
.next div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;
}
.next div:hover{
    transition: all 300ms ease;
    color: #11396C;
    cursor: pointer;
}
.footer_section {
    background-color: #11396C;
    color: #ffffff;
    padding: 75px 0 40px 0;
    display: inline;
    width: 100%;
    height: 7%;
    overflow: hidden;
    margin-top: 20vh;
    
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .footer_social .footer-move {
        float: left;
        width: 100%;
  }
  .footer_social .footer-move .footer-move-left{
    text-align: left; 
    margin-left: 0px;
    margin-top: 0%;
    
  }
  .footer_social .footer-move .footer-move-center{
    text-align: center;
    margin-left: 10vh;
  }

  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #11396C;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    font-size: 210%;
    margin-top: 14%;
    margin-left: 4%;
  }
  
  .footer_section .footer_social a:hover {
    color: #90b6e9;
  }
  
 
img.failory-logo-image {
        margin-top: 0.1%;
        margin-left: 43%;
        width: 15%;
        height:51%;
        float:left;
        margin-top: 0.01%;
}  

.h-failory{
    margin-left: 45%;
    margin-bottom: 0%;
    float:left;
    margin-top: 0.1%;

    
}
.h-failory2{
    display: inline;
    margin-left: 39%;
    margin-top: 0.5%;
    float:left;
}
.h-failory3{
    color: #ffffff;
    display: inline;
    margin-left:9%;
    margin-top: 0.5%;
    float:left;
    opacity: 1;  
    display: flex;
    position: absolute;
}
.h-failory3  li :hover{
    color: #ffff;
    opacity: 0.7;  

}

.h-failory4{
    color: #ffffff;
    display: inline;
    margin-left:20%;
    margin-top: 0.5%;
    float:left;
    display: flex;
    position: absolute;
   
}
.h-failory4  li :hover{
    color: #ffff;
    opacity: 0.7;  

}
.footer_social a,
.h-failory3 ul,
.h-failory4 ul,
.h-failory4 a,
.h-failory3 a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none; 
    list-style: none;
}
