<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="studentLife.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17ddf34e1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" href= "/Assets/logo.png" type="image/x-icon"> 

    <title>Student Life</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
   </script>
   <script> 
  $(function(){
  $("#footer").load("footer.html"); 
 });
 </script> 
  
     
</head>
<body>
    <div id="app">

        <header>
            <img src="/Assets/logo.png" alt="" onclick="window.location.href='index.html'">
            <div class="contactInfo">
                <i class="fa-solid fa-phone fa-xl"> 
                </i>
                <i class="fa-solid fa-location-dot fa-xl"></i>
                <i class="fa-solid fa-user fa-xl"  @click="registrationOverlay = true"> My Tree</i>
            </div>
        </header>
        <div class="registration" :class="{'registrationActive':registrationOverlay}" @click.self="registrationOverlay=false">
            <div class="register" :class="{'registerActive':registrationOverlay}">
                <div class="sign">  
                    <h2>Welcome back to the Tree of Wisdom and Knowledge</h2>
                    <span>Wisdom Tree School Account</span>
                    <input type="email" placeholder="Student Id">
                    <input type="password" placeholder="password">
                    <a href="">Sign In <i class="fa-solid fa-arrow-right fa-2xs" style="color: #ffffff; margin: 2% 5% 0;"></i></a>
                    <span>Don't have an account? <a href="" style="text-underline-offset: 4px; color:#11386cb7;">contant IT dep</a></span>
                </div>
                <div class="panel">
                    <div></div>
                    <video src="/Assets/mixkit-girl-walking-to-school-5886-medium.mp4" autoplay muted ></video>
                </div>
            </div>
        </div>
        <transition>
            <nav :style="{ 'backgroundImage':'url('+ partsBunner[activePart][activeBunner]+')' }" :key="activePart">
                <span onclick="window.location.href='index.html'">Home<div></div></span> <span> ></span>
                <h1> <a href="#main">{{pageParts[activePart]}}</a><div></div></h1>
            </nav>
        </transition>
        <div class="pageParts">
            <a @click="pagePartClick(part)" v-for="part in pageParts">{{part}} 
                <div></div>
            </a>
        </div>
        
        <main id="main">
            <h2>{{partsText[activePart][0].h1}}</h2>
            <h3>{{partsText[activePart][0].h3}}</h3>
            <p>{{partsText[activePart][0].p1}}</p>
            <div class="gallary" :class="{'gallaryImgHover':imgHover}">
                <div v-for="gallary in ImgGallary[activePart]">
                    <img :src="gallary" alt="" @mouseover="imgHover = 'flex'"  @mouseleave="imgHover='none'">
                    <i class="fa-solid fa-magnifying-glass-plus fa-xl" :style="'display:' +imgHover"></i>
                </div>
            </div>

            <p>{{partsText[activePart][0].p2}}</p>

            <div class="housingStaff">
                <h1>Our People</h1>
                <div class="staff">
                    <img src="/Assets/houseStaff.jpg" alt="">
                    <h2>miss alex - house guardian</h2>
                    <p>
                        have been a member of the St John’s family since 1999 and have always embraced the sense of community and team spirit the school encourages.
                    </p>
                </div>
                <div class="staff">
                    <img src="/Assets/houseStaff.jpg" alt="">
                    <h2>miss alex - house guardian</h2>
                    <p>
                        have been a member of the St John’s family since 1999 and have always embraced the sense of community and team spirit the school encourages.
                    </p>
                </div>
                <div class="staff">
                    <img src="/Assets/houseStaff.jpg" alt="">
                    <h2>miss alex - house guardian</h2>
                    <p>
                        have been a member of the Wisdom tree family since 1999 and have always embraced the sense of community and team spirit the school encourages.
                    </p>
                </div>
            </div>
            <div class="next">
                <h1>What is Next ?</h1>
                <div @click="activePart< pageParts.length-1? activePart++ : activePart = 0" onclick="window.scroll(0,100)">
                    <i class="fa-solid fa-circle-arrow-right fa-2xl"></i>
                    {{activePart< pageParts.length-1? pageParts[activePart+1] : pageParts[0]}}
                </div>
            </div>
            <footer class="footer_section">
           
                <div class="w-row">
                   <div class="footer-column w-clearfix w-col w-col-4">
                     <img src="/Assets/logo.png"  class="failory-logo-image">
                   </div>
                </div>
                   

                   <h2 class="h-failory">+21865564546</h2>
                   <h3 class="h-failory2">The virtuous city next to Aflatoun Center</h3>
                   
                    <div class="h-failory3">
                        <ul>
                           <li><a href="">Apply</a></li>
                           <br>
                           <li><a href="">Student Life</a></li>
                            <br>
                           <li><a href="">Our Staff</a></li>
                           <br>
                          <li><a href=""> My Tree</a> </li>
                        </ul>
                    </div>
                       <div class="h-failory4">
                          <ul>
                              <li><a href="">Apply</a></li>
                              <br>
                              <li><a href="">Student Life</a></li>
                              <br>
                              <li><a href="">Our Staff</a></li>
                              <br>
                               <li><a href=""> My Tree</a> </li>
                           </ul>
                       </div>
                   
                        <input class="navCertificates2"  type="text" placeholder=" Your Email address">
                        <button class="navCertificates3" >submit</button>
                      
                        <div class="footer_social">
                            <a href="https://www.facebook.com/medianou/?locale=ar_AR"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/medianou/?locale=ar_AR"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/medianou/?locale=ar_AR"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </div>
        
        </footer>
        </main>







    </div>
        <!-- start of footer -->
        <div id="footer"></div>
 
        <!-- end of footer section -->
    
       
    
    
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map-->
    <script src="/studentLife.js"></script>
</body>
</html>